<div class="register-container">
  <h2>Registro</h2>
  <input [(ngModel)]="nombre" placeholder="Nombre" type="text" />
  <select [(ngModel)]="codigoRol" required>
    <option value="" disabled selected>Selecciona un rol</option>
    <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.nombre }}</option>
  </select>
  <input [(ngModel)]="contrasena" placeholder="Contraseña" type="password" />
  <input [(ngModel)]="confirmarContrasena" placeholder="Confirmar contraseña" type="password" />
  <button class="btn-primary" (click)="onRegister()">Crear cuenta</button>
  <button class="btn-link" (click)="goToLogin()">Volver al Inicio de Sesión</button>
</div>
