<div class="inventory-container">
  <h1>Inventario</h1>
  <button mat-flat-button class="btn-accent" (click)="startAdd()">Agregar Producto</button>
  <table class="prod-table">
    <thead><tr><th>Nombre</th><th>Stock</th><th>Precio</th><th>Acciones</th></tr></thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{p.name}}</td>
        <td>{{p.stock}}</td>
        <td>{{p.price | currency:'COP':'symbol':'1.0-0'}}</td>
        <td>
          <button mat-icon-button (click)="startEdit(p)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="delete(p)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form">
    <h2 *ngIf="editing">Editar Producto</h2>
    <h2 *ngIf="!editing">Nuevo Producto</h2>
    <mat-form-field appearance="fill"><mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="form.name" />
    </mat-form-field>
    <mat-form-field appearance="fill"><mat-label>Stock</mat-label>
      <input matInput type="number" [(ngModel)]="form.stock" />
    </mat-form-field>
    <mat-form-field appearance="fill"><mat-label>Precio</mat-label>
      <input matInput type="number" [(ngModel)]="form.price" />
    </mat-form-field>
    <button mat-raised-button class="btn-accent" (click)="save()">Guardar</button>
  </div>
</div>
