<div class="login-container">
  <h2>Iniciar sesión</h2>
  <input [(ngModel)]="nombre" placeholder="Nombre" type="text" required />
  <select [(ngModel)]="codigoRol">
    <option value="" disabled selected>Rol</option>
    <option *ngFor="let rol of roles" [value]="rol.codigo">{{ rol.nombre }}</option>
  </select>
  <input [(ngModel)]="contrasena" placeholder="Contraseña" type="password" required />
  <button class="btn-primary" (click)="onLogin()">Iniciar sesión</button>
  <button class="btn-link" (click)="goToRegister()">¿No tienes cuenta? Regístrate</button>
</div>