<div class="usuario-crud-container">
  <h2>{{ esEdicion ? 'Editar Usuario' : 'Crear Usuario' }}</h2>
  <form (ngSubmit)="guardarUsuario()">
    <label>Nombre:</label>
    <input [(ngModel)]="usuario.nombre" name="nombre" required />
    <label>Rol:</label>
    <select [(ngModel)]="usuario.codigoRol" name="codigoRol" required>
      <option value="" disabled selected>Rol</option>
      <option *ngFor="let rol of roles" [value]="rol.codigo">{{ rol.nombre }}</option>
    </select>
    <label>Contraseña:</label>
    <input [(ngModel)]="usuario.contrasena" name="contrasena" type="password" required />
    <button type="submit" class="btn-primary">{{ esEdicion ? 'Actualizar' : 'Crear' }}</button>
  </form>
</div>