<div class="informe-caja-detail-container" *ngIf="informe">
  <h2>Detalle Informe de Caja</h2>
  <div>
    <strong>Código Informe:</strong> {{ informe.codigo }}<br>
    <strong>Código Sesión Trabajo:</strong> {{ informe.codigoSesionTrabajo }}<br>
    <strong>Fecha:</strong> {{ informe.fecha }}<br>
    <strong>Total Venta:</strong> {{ informe.totalVenta }}<br>
    <strong>Pago Efectivo:</strong> {{ informe.pagoEfectivo }}<br>
    <strong>Pago Transferencia:</strong> {{ informe.pagoTransferencia }}<br>
  </div>
  <button class="btn-primary" (click)="consolidarInforme()">Consolidar Informe</button>
</div>
